@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #0f0f0f;
  --color-brand-card: #1a1a1a;
  --color-brand-accent: #c5a059;
  --color-brand-text-p: #f2f2f2;
  --color-brand-text-s: #a1a1a1;
  --color-brand-line: rgba(197, 160, 89, 0.2);
  
  --font-serif: "Playfair Display", ui-serif, serif;
}
